@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/raleway-light-webfont.woff2') format('woff2'),
         url('../fonts/raleway-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body{
    
}

h1, h2{
    text-transform: uppercase;
}

h4{
    font-family: 'open_sansbold';
    font-size: 20px;
}

header{
    background-color: black;
}

.title-home{
    font-family: 'ralewayregular';
    font-size: 36px;
    margin-bottom: 28px;
}

/*Comienza el nav*/

.navbar-brand img{
    width: 79px;
    height: 27px;
}
.nav-item{
    margin-left: 20px;
    margin-right: 20px;
}

.nav-link{
    font-family: 'open_sanssemibold';
    font-size: 14px;
}

/*Termina el nav*/

/*Comienza el banner*/

.banner-home{
    background-image: url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10% 4%;
    color: white;
}

.banner-description h1{
    margin-top: 6%;
}

.banner-description p{
    font-family: 'ralewaylight';
    color: #a7a7a8;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 45px;
}

.banner-description hr{
    width: 74px;
    border: 1px solid white;
    margin: 30px 0px;
}

.download-button{
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 10px 30px;
    font-family: 'open_sanssemibold';
    font-size: 15px;
}

/*Termina el banner*/



/*Comienza sección Awesome*/
.awesome{
    padding: 100px 0;
}

.title-hr{
    width: 64px;
    border: 1px solid #ff8b38;
}

.awesome-title p{
    font-family: 'open_sansregular';
    font-size: 14px;
    color: #86878b;
    margin-top: 28px;
    margin-bottom: 60px;
}

.awesome-description img{
    margin-bottom: 30px;
}

.awesome-description p{
    font-family: 'open_sansregular';
    font-size: 14px;
    color: #86878b;
}
/*Termina sección Awesome*/


/*Comienza sección Pricing*/
.pricing{
    background-color: #f5f5f5;
    padding: 100px 0;
}

.pricing-title p{
    font-family: 'open_sansregular';
    font-size: 14px;
    color: #86878b;
    margin-top: 28px;
    margin-bottom: 60px;
}

.card-head{
    text-align: center;
    background-color: #333333;
}

.card-head ul{
    list-style: none;
    padding: 0px;
    margin: 0;
}

.card-head ul li:last-child{
    border-bottom: 4px solid #ff8b38;
}

.plan-title{
    font-family: 'open_sansbold';
    color: white;
    font-size: 20px;
    padding: 15px 0px;
    border-bottom: 1px solid white;
}

.plan-value{
    font-family: 'ralewaybold';
    font-size: 94px;
    color: white;
    border-bottom: 1px solid white;
    height: 120px;

}

.plan-value span{
    font-size: 35px;
}

.plan-description{
    font-family: 'open_sanssemibold';
    color: #939393;
    font-style: italic;
    font-size: 14px;
    padding: 15px 0px;
}

.popularity{
    text-transform: uppercase;
    color: white;
    background-color: #ff8b38;
    font-family: 'open_sansbold';
    font-size: 14px;
    padding: 10px 0;
}

.card-body{
    text-align: center;
    font-family: 'open_sansregular';
    color: #86878b;
    text-transform: uppercase;
    font-size: 14px;
    padding: 0;
}

.card-body ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.card-body ul li{
    padding: 10px 0;
}

.card-body ul li:not(:last-child){
    border-bottom: 1px solid #f5f5f5;
}

/*Termina sección Pricing*/

/*Comienza sección Pricing*/
.download{
    background-image: url("../images/download.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5.8% 30px;
    color: white;
}

.download-hr{
    width: 74px;
    border: 1px solid white;
    margin: 28px auto;
}

.download p{
    margin-bottom: 40px;
    color: #f5f5f5;
    font-family: 'ralewaylight';
}

/*Termina sección Pricing*/

.form-control{
    display: block;
    width: 100%;
    height: calc(1.1em + .75rem + 2px);
    padding: 0.3rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.button-center{
    justify-content: center;
}

footer{
    background-color: black;
    text-align: center;
}

.redes-sociales img{
    fill: white;
    stroke: white;
    width: 100px;
    height: 100px;
}

.redes-sociales p{
    margin: 0;
    padding: 15px 0px;
}

.redes-container{
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.redes-container li{
    display: inline-block;
    padding: 20px 10px 0px 10px;
}

.redes-container li img{
    width: 25px;
    height: 25px;
}